In [2]:
with open('0203.csv', 'r') as f:
    for line in f.readlines():
        #print line.strip()
        pass

In [10]:
import requests
from bs4 import BeautifulSoup as bs
payload= {
'select_item':'1',
'select_subitem':'1',
'Submit':'%B7j%B4M'
}
res = requests.post('http://www.twse.com.tw/ch/listed/listing_profile_inquiry.php', data = payload)
res.encoding = 'big5'
soup = bs(res.text)

In [18]:
import pandas as pd
dfs = pd.read_html(soup.select('.board_prod')[0].prettify('utf-8'), encoding = 'utf-8')
df = dfs[0]
df.columns = df.iloc[1]

In [19]:
df = df.drop([0,1])
df

1   證券代號  證券名稱 3/29 收盤價 3/28 收盤價  漲幅 %
2   1213    大飲    17.95     16.9  6.21
3   5264  F-鎧勝      174      164   6.1
4   1524    耿鼎     7.38        7  5.43
5   2910    統領     24.1       23  4.78
6   3550    聯穎     13.2     12.6  4.76
7   3016    嘉晶     25.6     24.5  4.49
8   2539   櫻花建     29.5    28.35  4.06
9   2387    精元     15.6       15     4
10  2379    瑞昱     87.6     84.7  3.42
11  3504   揚明光     37.7    36.55  3.15
12  2449   京元電     27.6     26.8  2.99
13  1590  F-亞德      178      173  2.89
14  1443    立益     5.24      5.1  2.75
15  3038    全台    13.25     12.9  2.71
16  2006    東鋼     19.5       19  2.63
17  1470   大統染    18.85     18.4  2.45
18  5534    長虹     50.2    49.05  2.34
19  9930   中聯資     64.2     62.8  2.23
20  2727    王品    141.5    138.5  2.17
21  6172    互億      7.3     7.16  1.96
22  1438    裕豐      4.3     4.22   1.9
23  2540   愛山林    30.85     30.3  1.82
24  2424    隴華     28.9     28.4  1.76
25  2612    中航    24.35    23.95  1.67
26  2454   聯發科      244      240  1.67
27  2608    大榮     40.4    39.75  1.64
28  3034    聯詠      126      124  1.61
29  2912   統一超    225.5      222  1.58
30  3561   昇陽科    17.65     17.4  1.44
31  2498   宏達電     91.8     90.5  1.44
32  3296    勝德     14.2       14  1.43
33  6239    力成     71.5     70.5  1.42
34  2723  F-美食    254.5      251  1.39
35  4108    懷特    43.95    43.35  1.38
36  6415  F-矽力      405    399.5  1.38
37  1465    偉全    14.75    14.55  1.37
38  8940   新天地     14.8     14.6  1.37
39  2393    億光     54.5     53.8   1.3
40  2105    正新     64.1     63.3  1.26
41  5269    祥碩      166      164  1.22
42  1805    寶徠     6.84     6.76  1.18
43  2385    群光       79     78.1  1.15
44  2444    友旺     13.5    13.35  1.12
45  1722    台肥     47.3     46.8  1.07
46  5907  F-大洋    25.15     24.9     1
47  1605    華新     8.45     8.37  0.96
48  4934    太極     21.2       21  0.95
49  2731    雄獅      109      108  0.93
50  3025    星通    11.85    11.75  0.85
51  6285    啟�     84.2     83.5  0.84

In [20]:
df.head()

1  證券代號  證券名稱 3/29 收盤價 3/28 收盤價  漲幅 %
2  1213    大飲    17.95     16.9  6.21
3  5264  F-鎧勝      174      164   6.1
4  1524    耿鼎     7.38        7  5.43
5  2910    統領     24.1       23  4.78
6  3550    聯穎     13.2     12.6  4.76

In [21]:
df.describe()

1       證券代號 證券名稱 3/29 收盤價 3/28 收盤價  漲幅 %
count     50   50       50       50    50
unique    50   50       50       49    46
top     1465  統一超     54.5      164  1.44
freq       1    1        1        2     2

In [34]:
import sqlite3 as lite
con = lite.connect('stock.sqlite')
df.to_sql('stock', con=con)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  app.launch_new_instance()

In [23]:
import datetime
import os
import pandas

seattle_fire_responses = pandas.read_csv('0203.csv', parse_dates=[
    'Datetime'
], usecols=[
    'Address',
    'Type',
    'Datetime',
    'Latitude',
    'Longitude',
    'Incident Number',
]).dropna()
len(seattle_fire_responses)

332

In [25]:
seattle_fire_responses.head()

,Address,Type,Datetime,Latitude,Longitude,Incident Number
0,4th Av N / Mercer St,Aid Response,2014-02-03 23:56:00,47.624564,-122.348877,F140012355
1,2121 8th Av,Aid Response,2014-02-03 23:47:00,47.616647,-122.338160,F140012352
2,747 N 135th St,Aid Response,2014-02-03 23:19:00,47.726864,-122.348012,F140012350
3,3716 Ne 75th St,Medic Response,2014-02-03 23:12:00,47.683046,-122.288274,F140012349
4,1111 3rd Av,Auto Fire Alarm,2014-02-03 23:11:00,47.606410,-122.334739,F140012348

In [26]:
seattle_fire_response_locations = seattle_fire_responses[
    ['Longitude', 'Latitude']].values
seattle_fire_responses[:2]

,Address,Type,Datetime,Latitude,Longitude,Incident Number
0,4th Av N / Mercer St,Aid Response,2014-02-03 23:56:00,47.624564,-122.348877,F140012355
1,2121 8th Av,Aid Response,2014-02-03 23:47:00,47.616647,-122.338160,F140012352

In [30]:
seattle_fire_response_locations[0:3]

array([[-122.348877,   47.624564],
       [-122.33816 ,   47.616647],
       [-122.348012,   47.726864]])

In [ ]:
from geometryIO import get_transformPoint, proj4LL

# http://spatialreference.org/ref/epsg/2855/
proj4_washington_north = (
    '+proj=lcc +lat_1=48.73333333333333 +lat_2=47.5 +lat_0=47 '
    '+lon_0=-120.8333333333333 +x_0=500000 +y_0=0 +ellps=GRS80 +units=m +no_defs ')
transform_point = get_transformPoint(proj4LL, proj4_washington_north)
untransform_point = get_transformPoint(proj4_washington_north, proj4LL)
print tuple(seattle_fire_response_locations[0])
print untransform_point(*transform_point(*seattle_fire_response_locations[0]))

In [ ]:
import numpy as np
from matplotlib import pyplot as plt
from mpl_toolkits.basemap import Basemap, cm
from shapely.geometry import MultiPoint

def plot_hotspots(hotspot_xys, client_xys, radius_in_meters):
    hotspot_locations = np.array([untransform_point(*_) for _ in hotspot_xys]) 
    client_locations = np.array([untransform_point(*_) for _ in client_xys])
    llcrnrlon, llcrnrlat, urcrnrlon, urcrnrlat = MultiPoint(client_locations).bounds
    radius_in_degrees = get_distance_in_degrees(client_xys[0], radius_in_meters)
    for hotspot_location in hotspot_locations:
        m.tissot(*hotspot_location, radius_deg=radius_in_degrees, npts=15, color='r')
    m.scatter(client_locations[:, 0], client_locations[:, 1],
        color='b', latlon=True, marker='.', zorder=10)
    plt.axis('off')

In [ ]:
import numpy as np
from matplotlib import pyplot as plt
from mpl_toolkits.basemap import Basemap, cm
from shapely.geometry import MultiPoint

def plot_hotspots_simple(hotspot_xys):
    hotspot_locations = np.array([untransform_point(*_) for _ in hotspot_xys]) 
    client_locations = np.array([untransform_point(*_) for _ in client_xys])
    llcrnrlon, llcrnrlat, urcrnrlon, urcrnrlat = MultiPoint(client_locations).bounds
    radius_in_degrees = get_distance_in_degrees(client_xys[0], radius_in_meters)
    for hotspot_location in hotspot_locations:
        m.tissot(*hotspot_location, radius_deg=radius_in_degrees, npts=15, color='r')
    m.scatter(client_locations[:, 0], client_locations[:, 1],
        color='b', latlon=True, marker='.', zorder=10)
    plt.axis('off')_simple

In [ ]:
hotspots_via_random = seattle_fire_response_locations[:5]
plot_hotspots(hotspots_via_random, seattle_fire_response_xys, radius_in_meters)